.advantages {
  display: inline-block;
  text-align: left;
}

.advantages__title {
  display: inline-block;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  text-align: left;
  margin-top: 7px;
  margin-bottom: 38px;
}

.advantages__list {
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 153px;
    grid-row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.advantages__item {
  max-width: 230px;
}

/*.advantages__item--icon {}*/
.advantages__description {
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
