.page-footer {
  background: #F2F2F2;
  .container();
}

.page-footer__logo {
  margin: 39px 44px 32px 44px;
}

/*
.page-footer__social {}
.social {}*/

.social__list {
  display: flex;
  padding: 0;
  margin: 20px 44px 21px 44px;
}

/*
.social__item {}

.social__link {}

.social__link--vkontakte {}

.social__link--instagram {}

.social__link--facebook {}

.page-footer__copyright {}

.copyright {}*/

.copyright__link {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  margin: 28px 147px 32px 19px;
}

/*
.copyright__link--logo-academy {}*/
