@import "source/less/blocks/fonts.less";
@import "source/less/blocks/general.less";
@import "source/less/mixins.less";
@import "source/less/blocks/page-header.less";
@import "source/less/blocks/promo.less";
@import "source/less/blocks/main-nav.less";
@import "source/less/blocks/categories.less";
@import "source/less/blocks/advantages.less";
@import "source/less/blocks/page-footer.less";
@import "source/less/blocks/copyright.less";
@import "source/less/blocks/catalog.less";
@import "source/less/blocks/social.less";
@import "source/less/blocks/example.less";
@import "source/less/blocks/contacts.less";
@import "source/less/blocks/additional-goods.less";
@import "source/less/blocks/action.less";
@import "source/less/blocks/questionary.less";
@import "source/less/blocks/form.less";
@import "source/less/blocks/desired-result.less";
@import "source/less/blocks/owner-contacts.less";
@import "source/less/blocks/addition.less";
@import "source/less/blocks/container.less";
// Viewports
@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
